<template>
    <ul class="chat">
        <li class="left clearfix" v-for="message in messages">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font" style="margin-left: 0.5%">
                        <small style="font-size:9px;">(автор) </small>{{ message.user.name }}
                    </strong>
                </div>
                <p style="margin-left: 0.5%">
                    <small style="font-size:9px;">(текст) </small>{{ message.message }}
                </p>
                <p style="font-size:10px; margin-left: 0.5%">
                    <small style="font-size:9px;">(дата) </small>{{ message.created_at }}
                </p>
            </div>
        </li>
    </ul>
</template>

<script>
  export default {
    props: ['messages']
  };
</script>